<div class="header-inner-wrapper clearfix">
    <div class="logo">
        <a>
            <img src="assets/icons/angular-icon-logo.svg" alt="{{ applicationName }}" height="40">
        </a>
    </div>
    <div class="logout" *ngIf="showLogOutButton">
        <button (click)="logout()">{{ 'log_out' | translate }}</button>
    </div>
    <div class="select-lang">
        <label>{{ 'select_language' | translate }} </label>
        <select (change)="onLangChange($event)">
            <option value="en" [selected]="selectedLanguage == 'en'">English</option>
            <option value="hi" [selected]="selectedLanguage == 'hi'">हिंदी</option>
            <option value="be" [selected]="selectedLanguage == 'be'">বাংলা</option>
        </select>
    </div>
</div>
