<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button *ngIf="!sideMenuOpen && showLogOutButton" (click)="toggleMenu()"  class="menu-icon sideMenuButton" mat-icon-button color="link">
            <mat-icon>menu</mat-icon>
        </button>
        <button *ngIf="sideMenuOpen && showLogOutButton" (click)="toggleMenu()"  class="close-icon sideMenuButton" mat-icon-button color="link">
            <mat-icon>close</mat-icon>
        </button>
        <span class="logo">
            <a>
                <img src="assets/icons/angular-icon-logo.svg" alt="{{ applicationName }}" height="40">
            </a>
        </span>
        <span class="mat-spacer"></span>
        <button class="language-icon" mat-stroked-button color="link" [matMenuTriggerFor]="languageMenu">
            <mat-icon>language</mat-icon>
            <b>
                <span *ngIf="selectedLanguage == 'en'"><b> English</b></span>
                <span *ngIf="selectedLanguage == 'hi'"><b> हिंदी</b></span>
                <span *ngIf="selectedLanguage == 'be'"><b> বাংলা</b></span>
            </b>
        </button>
        <mat-menu #languageMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onLangChange('en')" class="check-icon"><b>English </b> <mat-icon *ngIf="selectedLanguage == 'en'">check</mat-icon></button>
            <button mat-menu-item (click)="onLangChange('hi')" class="check-icon"><b>हिंदी </b> <mat-icon *ngIf="selectedLanguage == 'hi'">check</mat-icon></button>
            <button mat-menu-item (click)="onLangChange('be')" class="check-icon"><b>বাংলা </b> <mat-icon *ngIf="selectedLanguage == 'be'">check</mat-icon></button>
        </mat-menu>
        <button *ngIf="showLogOutButton" class="more-vert-icon mainMenuButton" mat-icon-button color="link" [matMenuTriggerFor]="mainMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mainMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()" class="settings-power"><mat-icon>settings_power </mat-icon><b> {{ 'log_out' | translate }}</b> </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

