.header-inner-wrapper{
    height: 70px;
    padding: 15px;
    background-color: #af235d;
}
.logo{
    float: left;
    @media only screen and (max-width: 767px) {
        height: 25px;
    }
    img{
        display: block;
        width: auto;
        max-height: 100%;
    }
}
.select-lang{
    float: right;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
    label{
        display: inline-block;
        @media only screen and (max-width: 400px)  {
            display: none;
        }
    }
    select{
        margin-left: 10px;
        padding: 5px 10px;
    }
}
.mainMenuButton{
    margin-left: 5px;
}
.sideMenuButton{
    margin-right: 15px;
}