<div class="sign-in clearfix">
    <div class="sign-in-wrapper">
        <div class="logo text-center fade-in">
            <img src="assets/icons/angular-icon-logo.svg" alt="Application" height="100">
        </div>
        <h2 *ngIf="!formBeingSubmitted" class="text-center fade-in">{{'sign_in_title' | translate}}</h2>
        <form *ngIf="!formBeingSubmitted" novalidate [formGroup]="signInForm" class="fade-in">
            <div class="form-group">
                <label for="username">{{ 'username' | translate }} <span class="red">*</span></label> 
                <input type="text" formControlName="username" name="username" class="form-control" [class]="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched ? 'red' : ''">
                <div class="red" *ngIf="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched">{{'username_is_required' | translate}}</div>
            </div>
            <div class="form-group">
                <label for="password">{{ 'password' | translate }} <span class="red">*</span></label> 
                <div class="relative">
                    <input type="{{showPassword ? 'text' : 'password'}}" formControlName="password" name="password" class="form-control password" [class]="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched ? 'red' : ''">
                    <span matRipple (click)="toggleShowHidePassword()"class="show-hide">
                        <span [hidden]="showPassword">
                            <img src="assets/icons/eye.svg" width="25">
                        </span>
                        <span [hidden]="!showPassword">
                            <img src="assets/icons/eye-cut.svg" width="25">
                        </span>
                    </span>
                </div>
                <div class="red" *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched">{{'password_is_required' | translate}}</div>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" class="form-control" [disabled]="signInForm.invalid || formBeingSubmitted || loginSuccessful" (click)="signIn()">{{ 'sign_in' | translate }}</button>
            </div>
            <div class="red" *ngIf="loginUnsuccessful && signInForm.pristine">{{ 'invalid_username_or_password' | translate }}</div>
        </form>
        <div [hidden]="!formBeingSubmitted" class="sign-in-loader-wrapper fade-in">
            <div class="sign-in-loader text-center">
                <img src="assets/gifs/loader-sand-clock.gif" width="50">
                <h4><b>{{ 'authenticating' | translate }}<br>...</b></h4>
            </div>
        </div>
    </div>
</div>


    
