/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}

.fade-in {
    animation: fade_in .3s linear;
}
@keyframes fade_in {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body { margin: 0; font-family: "Helvetica Neue", sans-serif; }
.clearfix::before{
    content: "";
    clear:both;
    display: block;
}
.clearfix::after{
    content: "";
    clear:both;
    display: block;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
main{
    min-height : calc(100vh - (70px + 60px));
    position: relative;
    padding-top: 1px;
}
label{
    font-weight: bold;
    padding:0 0 5px 0;
    display: block;
}
form {
    padding: 15px;
}
.form-group{
    margin-bottom: 15px;
    display: block;
    position: relative;
    button{
        font-weight: bold;
    }
}
.form-control{
    padding: 7px 5px;
    display: block;
    width: 100%;
    font-size: 18px;
    margin-bottom: 4px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
}
.red {
    color: red !important;
    border-color: red;
}


